@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    font-family: "Poppins";
    --color-1: #262626;
    --color-2: #fff;
}

::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    margin: 0;
    overflow-x: hidden;
}

.app {
    display: block;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    height: 100vh;
    overflow: hidden;

    &-main {
        height: 100%;

        
    }

    &-footer {
        display: flex;
        position: sticky;
        justify-content: center;
        top: -50px;
        bottom: 0;
        width: 100%;
        margin: 5px;
        z-index: 10;
        background: none;
        &-main {
            display: flex;
            flex-direction: column;
            padding: 10px 20px 0;
            border-radius: 20px 20px 0 0;
            align-items: center;
            background-color: var(--color-2);
            cursor: pointer;
        }
    }
}

.palette {
    display: block;
    margin: 5% 3%;
    z-index: 1;
    border-radius: 50px;
    background-color: #fff;
    .pal {
        display: flex;
        justify-content: center;
        &-main {
            width: 100%;
            &-goto {
                display: flex;
                // background-color: var(--color-1);
                p {
                    padding: 5px 12px;
                    border-radius: 0 0 15px 15px;
                    background-color: #fff;
                    color: var(--color-1);
                }
                span {
                    display: flex;
                    width: 100vw;
                    height: 10vh;
                    border-radius: 15px;
                    background-color: var(--color-1);
                }
            }
        }
        &-value {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5em;
            height: 5em;
        }
    }
}
